@model IEnumerable<Domain.Entities.FactSale>

@{
  int ratingCounter = 1;
}

@if (Model != null && Model.Any())
{
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Profit (USD)</th>
        <th class="col-lg-4">Title</th>
        <th class="col-lg-2">Directors</th>
        <th class="col-lg-2">Genres</th>
        <th class="col-lg-2">Countries</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model.ToList())
      {
        <tr>
          <td class="text-center">@(ratingCounter++)</td>
          <td class="text-center"><strong>@item.Revenue.Value</strong></td>
          <td>@Html.ActionLink(item.Movie.Title, "Details", "Movie", new { id = item.MovieId }, null)</td>
          <td>@Html.Raw(string.Join(", ", item.Movie.Directors.Select(x => Html.ActionLink(x.Name, "ByDirector", "Sale", new { id = x.Id }, null).ToHtmlString()).ToArray()))</td>
          <td>@Html.Raw(string.Join(", ", item.Genres.Select(x => Html.ActionLink(x.Name, "ByGenre", "Sale", new { id = x.Id }, null).ToHtmlString()).ToArray()))</td>
          <td>@Html.Raw(string.Join(", ", item.Countries.Select(x => Html.ActionLink(x.Name, "ByCountry", "Sale", new { id = x.Id }, null).ToHtmlString()).ToArray()))</td>
        </tr>
      }
    </tbody>
  </table>
}
else
{
  <div>No posts in the database...</div>
}
